<form class="eat-button" action="/genre">
    <input type="submit" value="EAT">
</form><form class="play-button" action="/genre">
    <input type="submit" value="PLAY">
</form><form class="drink-button" action="/genre">
    <input type="submit" value="DRINK">
</form>