<form role="form" action="/type" method="get">
	<div class="form-group">
    	<input type="submit" name="activity" class="btn btn-primary btn-lg btn-block" value="EAT">
    </div>
</form>
<form role="form" action="/type" method="get">
	<div class="form-group">
	    <input type="submit" name="activity" class="btn btn-primary btn-lg btn-block" value="PLAY">
	   </div>
</form>
<form role="form" action="/type" method="get">
	<div class="form-group">
    	<input type="submit" name="activity" class="btn btn-primary btn-lg btn-block" value="DRINK">
    </div>
</form>