<div class="">
  	<div class="">
	<form class="activity-button" action="/type" method="get">
	    <input type="submit" name="activity" class="button" value="EAT">
	</form>
	<form class="activity-button" action="/type" method="get">
	    <input type="submit" name="activity" class="button" value="PLAY">
	</form>
	<form class="activity-button" action="/type" method="get">
	    <input type="submit" name="activity" class="button" value="DRINK">
	</form>
</div>
