<div>
	<form class="activity-button" action="/type" method="get">
	    <input type="submit" name="activity" value="EAT">
	</form>
	<form class="activity-button" action="/type" method="get">
	    <input type="submit" name="activity" value="PLAY">
	</form>
	<form class="activity-button" action="/type" method="get">
	    <input type="submit" name="activity" value="DRINK">
	</form>
</div>