<!DOCTYPE html>
<html>
<head>
	<title>chüser</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="page-header">
						<div class="text-center">
							<h1 class="chuser"><a href="/">chüser</a></h1>
							<h5>choose simple.</h5>
						</div>
					</div>
				</div>
					<div class="col-md-8 col-md-offset-2">
							<%= yield %>
						</div>
					</div> 
			</div>

		 	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		 	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		    <script src="/logic/js/blank.js"></script>
		</div>
	</div>
</body>
</html>



