<!DOCTYPE html>
<html>
<head>
	<title>Chüser</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css">
<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
<!-- <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->


      
</head>
<body>

<div class="header row">
	<div class="large-9 columns">
		<h1>Chüser</h1>
		<h5>Pro-Choice</h5>
	</div>
<!-- 	<div class="large-3 columns">
  			<a href="/" class="new">I'm over this.</a>	
		</div>
	</div> -->

  	<%= yield %>
  </div> 

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/logic/js/blank.js"></script>
</body>
</html>



