<div class="row">
	<div class="col-md-6">
		<div class="directions well well-lg">
			<h2>Directions</h2>
			<ul>
				<% @data.each do |place| %>
					<h4 class="toggle"><span class="glyphicon glyphicon-plus"></span><%= " #{place.first}" %></h4>
					<div>
					<% place.last.each do |step| %>
						<li><%= step %></li>
					<% end %>
					</div>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well well-lg">
			<iframe
			  width="100%"
			  height="400px"
			  frameborder="0" style="border:0"
			  src= "<%= @map_src %>">
			</iframe>
		</div>
	</div>
</div>


