<!-- <div class="row">
  <div class="route_form large-4 columns"> -->
    <form method="post" action="/create">
      <div>
        <label for="address">Where are you right now:</label>
        <input type="text" id="address" name="address" />
      </div>
      <div>
          <label for="mode">How do you plan on getting there?:</label>
          <select name="mode">
           <option value="0">By car</option>
           <option value="1">By foot</option>
           <option value="2">By bike</option>
         </select>
      </div>
      <div>
          <label for="radius">Are you willing to go the distance?:</label>
          <select name="radius">
           <option value="1">1 mile</option>
           <option value="2">2 miles</option>
           <option value="5">5 miles</option>
           <option value="10">10 miles</option>
           <option value="15">15 miles</option>
           <option value="20">25 miles</option>
         </select>
      </div>
      <div>
        <input type="submit" value="Hit me">
      </div>
<!--     </form>
  </div>
</div> -->