<div class="row">
	<div class="col-md-6">
		<h2>Directions</h2>
		<% @data.each do |place| %>
			<h5 class="toggle"><strong><%= place.first %></strong></h5>
			<p><%= place.last.join("<br>") %></p>
		<% end %>
		<h5><%= @last_name.first %></h5>
	</div>
	<div class="col-md-6">
		<iframe
		  width="100%"
		  height="400px"
		  frameborder="0" style="border:0"
		  src= "<%= @map_src %>">
		</iframe>
	</div>
</div>


