<div class="destination"> 
	<%= @name %>
</div>


<div>
	<form class="next-button" action="/activity" method="get">
	    <input type="submit" name="next" value="Another!">
	</form>
	<form class="next-button" action="/activity" method="get">
	    <input type="submit" name="next" value="PASS!">
	</form>

	<form class="next-button" action="/map" method="get">
	    <input type="submit" name="next" value="Route me!">
	</form>
</div>
