<%= @result %>


<div>
	<form class="next-button" action="/new" method="get">
	    <input type="submit" name="next" value="Another!">
	</form>
	<form class="next-button" action="/new" method="get">
	    <input type="submit" name="next" value="PASS!">
	</form>

	<form class="next-button" action="/route" method="get">
	    <input type="submit" name="next" value="Route me!">
	</form>
</div>
