<div class="">
  	<div class="">
		<form class="choice-button" action="/result" method="get">
		    <input type="submit" name="types" class="button" value="<%=@@choices[0]%>">
		</form>
		<form class="choice-button" action="/result" method="get">
		    <input type="submit" name="types" class="button" value="<%=@@choices[1]%>">
		</form>
	</div>
</div>