<form role="form" action="/result" method="get">
	<div class="form-group">
    	<input type="submit" class="btn btn-primary btn-lg btn-block" name="category" value="<%=@choices[0]%>">
    </div>
</form>
<form role="form" action="/result" method="get">
	<div class="form-group">
	    <input type="submit" class="btn btn-primary btn-lg btn-block" name="category" value="<%=@choices[1]%>">
	</div>
</form>